

/*::ng-deep .upload-form-wrapper {
  max-width: 800px;
  margin: auto;
}*/

::ng-deep #fileuploader-container {
  border: 2px dashed #d3d3d3;
  padding: 25px;
}

::ng-deep button {
  float:right;
  margin-right: 10px;
}
